*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background: purple;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.main {
    background: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    width: 300px;
    height: 300px;
    background: yellow;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}